.header {
  height: 100vh;
  padding-top: 140px;
  padding-bottom: 145px;
  background-image: url(../img/header__background.jpg);
  background-size: cover;
}

.header__wrapper {
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header__tagline {
  font-family: 'Exo Thin', Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #282828;
  margin-bottom: 45px;
}


.header__play-button {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto 40px;
  border-radius: 50%;
  border: none;
  background-color: #8185a3;
  transition: .3s;

  &::before {
    content: "";
    
    position: absolute;
    
    top: 17px;
    left: 20px;
    
    height: 26px;
    width: 26px;

    fill: #fff;
    transform: rotateY(180deg);
    background-image: url(../img/header__play-button.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:hover,
  &:focus {
    outline: none;
    background-color: #585888;
    transform: scale(1.05);
    cursor: pointer;
  }
  &:active {
    opacity: .3;
  }
}

.header__button {
  margin: 0 auto 5px;
}

.header__subtext {
  font-family: 'Exo Regular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #282828;
}



